/* Social media icons footer*/

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 1px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
    width: 34px;
    height: 34px;
    text-align: center;
    margin-right: 1px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:hover {
    color: black;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 24px;
    height: 24px;
    width: 24px;
    font-size: 24px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.instagram:hover {
    background-color: #8a3ab9
}


/*Sticky icons*/

.stickyicon-list {
    position: fixed;
    bottom: 200px;
    transform: translateY(-50%);
}

.stickyicon-list a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}


/* HOver affect on sticky social media icons */

.stickyicon-list a:hover {
    color: #000;
    width: 10px;
}


/* Now we have to design each icon of social media */

.facebook {
    background: #3b5998;
    color: white;
}

.twitter {
    color: white;
    background: #00acee;
}

.linkedin {
    background: #0e76a8;
    color: white;
}

.google {
    color: white;
    background: #db4a39;
}

.instagram {
    background: #3f729b;
    color: white;
}

.youtube {
    color: white;
    background: #c4302b;
}